
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  *{
    box-sizing: border-box;
  }
  *:focus{
    outline: none;
  }
  a{
    text-decoration: none;
    transition: .3s
  }

.table {
  width: 96%;
  margin: auto;
}

.hide{
  display: none !important;
}
.modal-wrap {
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  .btn-close{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: brown;
    font-weight: 600;
  }
}
.modal-conntainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.7);
}

.user-info {
  display: flex;
  justify-content: flex-end;
  div{
    padding: 20px 20px 20px 0;
  }
}
.out {
  display: flex;
  align-items: center;
  a {
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.form-wrapper {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  .btn-wrapper {
    margin: 20px 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
  }
}
.btn{
  background-color: #e6e6e6;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.6px;
  border: none;
}

.textarea-wrapper {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  textarea {
    height: 100%;
    border: 1px solid #c1bebe;
    margin-top: 5px;
    font-size: 16px;
}
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  input {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #c1bebe;
    margin-top: 5px;
  }
}

.input-containner {
  width: 50%;
}

.line{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  .column {
    width: calc((100% / 5) - 52px);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    max-height: 100px;
    &:first-child{
      width: 20px
    }
    &:nth-child(1n+7){
      width: 100px;
      margin: 0 0 0 10px;
    }
  }
}
.textarea-mod {
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea{
    height: 120px;
    margin-top: 10px;
    font-size: 16px;
  }
}
.viewer {
  margin-bottom: 70px;
}
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-wrapper {
  margin: 20px 0;
  text-align: center;
  align-items: center;
}

.textarea-about {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: auto;
  height: 200px;
  textarea{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
  }
  .btn-wrapper{
    max-width: 1200px;
  }
}
.label{
  margin: 0 0 20px 30px;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: brown;
  border-bottom: 1px solid;
  width: calc(100% - 30px);
}
.add {
  display: flex;
  flex-direction: column;
}
.formadd{
  margin-top: 20px;
}
#text{
  opacity: 0;
  padding: 8px 20px;
  text-align: right;
  width: calc(100% - 156px);
  background-color: aliceblue;
  color: green;
  text-transform: uppercase;
  font-weight: 600;
}
.text-info {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 720px){
  .form{
    flex-direction: column;
    .textarea-wrapper{
      width: 100%;
      margin: 0;
    }
    .input-containner {
      width: 100%;
  }
  .btn-wrapper{
    margin: 20px 0;
    flex-direction: column;
    .btn{
      width: 100%;
    }
  }
  }
  .line {
    flex-wrap: wrap;
    .column {
      width: 100%;
      padding: 10px 0;
      justify-content: flex-start;
    }
    .btn-wrapper{
      width: 50%;
    }
  }
  #text{
    text-align: center;
    width: 100%;
  }
  .btn-upd, .btn-del{
    margin: 0 !important;
    width: 50% !important;
    .btn{
      width: 100%;
      border: 1px solid #fff;
    }
  }
}